*.DS_store

Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public

.vim/bundle
.vim/.netrwhist
.rvm
.ssh

.CFUserTextEncoding
.Trash
.DS_Store
.bash_history
.cache
.gem
.vim_mru_files
.viminfo
.hostname

vendor/bundle
*
