*.DS_store

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Dropbox/
.vim/bundle
.vim/.netrwhist
.rvm
.ssh

.CFUserTextEncoding
.Trash
.DS_Store
.bash_history
.cache
.gem
.vim_mru_files
.viminfo
.hostname
.config/
.cups/
.dbc/
.dropbox/
.heroku/
.irb-history
.lesshst
.netrc
.node-gyp/
.npm/
.pgpass
.profile
.psql_history
.subversion/
.vim/
.zlogin
.zshrc
vendor/bundle

